body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
    display: flex;
    justify-content: center;
}

.toDo-list {
    display: flex;
    width: 33%;
    flex-direction: column-reverse;
    margin: 1rem;

}

.header-todo {
    display: flex;
    justify-content: left;
    width: 33%;
    padding-left: 4rem;
    height: 50px;
}